body {
    min-height: 100vh;
}

#mainGrid{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-areas: 
        "header header header"
        "sd main main"
        "footer footer footer";
}

header {
    display: flex;
    align-items: center;
    background-color: white;
    grid-area: header;
    padding: 0 24px;
    border-bottom: 1px #eee solid;
}

nav {
    background-color: #f5f5f5;
    grid-area: sd;
    padding: 24px 0;
}

#content {
    grid-area: main;
    background-color: white;
}

footer {
    padding: 16px 24px;
    background-color: white;
    grid-area: footer;
    border-top: 1px #eee solid;
}

@media (max-width: 768px){
    #mainGrid{
        min-height: 100vh;
        display: grid;
        grid-template-rows: 60px 1fr 60px;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "main"
            "footer";
    }

    nav{
        display: none;
    }
}