#postTitle{
    font-family: serif;
    font-size: 2.5em; 
    font-weight: 400;
    color: #10121f;
    margin: 16px 0;
}

#authorWrapper{
    width: 100%;
    background-color: rgb(240, 240, 240);
}

#authorInfo, #post{
    max-width: 800px;
    margin: auto;
    padding: 24px;
}

#authorDetails{
    display: flex;
}

#authorAvatar{
    width: 64px;
    height: 64px;
    margin-right: 24px;
    background-image: url(../images/avator.jpeg);
    background-size: contain;
    border-radius: 50%;
}

#authorPersonalInfo p{
    margin-bottom: 8px;
}

#authorName{
    font-size: 24px;
    font-weight: 500;
}

#authorTitle, #authorCompany{
    font-size: 16px;
    color:rgb(124, 124, 124);
}

#authorBio{
    margin-top: 24px;
}

#post h2{
    margin-bottom: 24px;
}

#post h3{
    margin-bottom: 24px;
}

.postP{
    margin-bottom: 24px;
}

.postImage{
    width: 100%;
    margin-bottom: 8px;
}

#post blockquote{
    font-size: 24px;
    margin-bottom: 24px;
    font-style: italic;
}

.imageCaption{
    font-size: 14px;
    color: rgb(124, 124, 124);
}

#socialLinks{
    display: flex;
    margin-bottom: 24px;
}

.socialLink{
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    border: none;
    background: none;
    background-repeat: no-repeat;
}

#socialFB{
    background-image: url(../images/facebook.svg);
}

#socialLK{
    background-image: url(../images/linkedin.svg);
}

#socialTW{
    background-image: url(../images/twitter.svg);
}