h1 {
    font-size: 1.6em; 
    color: #10121f;
 }

h2{
    font-size: 1.4em;
    font-weight: 700;
    color: #10121f;
}

h3{
    font-size: 1.2em;
    font-weight: 600;
    color: #10121f;
}

p {
    font-size: 1.1em;
    line-height: 150%;
    color: #10121f;
} 

a, a:visited{
    color: rgb(23, 89, 187);
}